kornia>=0.5.8
nvitop>=0.3.6.2
monai==1.1.0
rich>=10.7.0
nibabel>=3.2.1
einops>=0.3.0
mlflow>=1.20.1
timm>=0.4.12
scikit-image
mmcv==2.0.0
mmengine==0.7.2
scipy
pandas
numpy
matplotlib
jsonargparse[signatures]
pyarrow
fastparquet
python-snappy
pytorch-lightning==1.9.4
tensorboard==2.11.0